.main-container{
    .row{
        display: flex;
        .custom-input{
            width: 100%;
            .label{
                color: #bdb0a9;
            }
            .mat-form-field{
                width: 50%;
                height: 30px;

                .mat-form-field-wrapper{
                    padding-bottom: 0;
                }
            }
        }
    }
    .action{
        display: flex;
        justify-content: end;
    }
    table{
        width: 100%;
        margin-top: 20px;
    }
}

